@keyframes color{
    0%{ 
        background-color: #fff7ea;
    }
    10%{
        background-color: #fff6ea;
    }
    20%{
        background-color: #f5ffea;
    }
    30%{
        background-color: #eafff1;
    }
    40%{
        background-color: #eafeff;
    }
    50%{
        background-color: #eaf2ff;
    }
    60%{
        background-color: #ebeaff;
    }
    70%{
        background-color: #f1eaff;
    }
    80%{
        background-color: #ffeafa;
    }
    90%{
        background-color: #ffeaef;
    }
    100%{
        background-color: #fff7ea;
    }
}





body {
    background: #d9d9d9;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    animation-name: color;
    animation-duration: 10s;
    animation-iteration-count: infinite;
  }
  
  .crossword {
    display: grid;
    grid-template-columns: repeat(17, 40px);
    grid-template-rows: repeat(17, 40px);
    gap: 2px;
  }
  
  .cell, .black {
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    font-family: Arial, sans-serif;
    font-size: 18px;
  }
  
  .cell {
    background: white;
    border: 2px solid black;
    color: transparent;
    cursor: pointer;
    transition: 0.2s ease;
  }
  
  .black {
    background: transparent;
  }
  
  .cell:hover {
    background: #111;
    color: gold;
    box-shadow: 0 0 10px gold;
  }
  
  .cell.revealed {
    background: #111;
    color: gold;
  }
  